.header-card {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding-right: 40px;
    box-sizing: border-box;
    .title-card {
        padding: 5px;
        display: flex;
        flex-flow: column;
        .title {
            margin-bottom: 5px;
            p {
                color: rgb(36, 39, 37);
                margin: 0;
                font-size: 16px;
                font-weight: bold;
            }
        }
        .dates {
            p {
                margin: 0;
                font-size: 14px;
                color: rgb(80, 74, 74);
            }
        }
    }
    .button-detail {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        /* background-color: #aaa;*/
        position: absolute;
        right: 0px;
        font-size: 25px;
    }
}

@media screen and (max-width:756px) {
    .cancelled,
    .accepted,
    .process {
        p {
            margin: 0;
            font-size: 15px;
            font-weight: bold;
        }
    }
}