.card {
    min-width: 350px;
    padding: 10px 15px 10px 15px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
    background-color: #fff;
}