.body-card {
    width: 100%;
    display: flex;
    align-items: center;
    .table {
        width: 100%;
        .desktop {
            border-collapse: collapse;
            border-radius: 10px;
            overflow: hidden;
            tr {
                padding: 10px 0px 10px 0;
                margin-bottom: 5px;
                background-color: rgb(223, 223, 223);
                border-radius: 10px;
                th,
                td {
                    width: 300px;
                    padding: 10px;
                    text-align: center;
                    border-left: 2px solid #fff;
                    border-right: 2px solid #fff;
                }
                 :first-child {
                    border-left: 0px solid #000;
                }
                 :last-child {
                    border-right: 0px solid #000;
                }
                th {
                    font-weight: normal;
                }
                td {
                    font-weight: bold;
                }
            }
        }
        .mobile {
            width: 100%;
            tr {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px 0px 10px 0;
                margin-bottom: 5px;
                background-color: rgb(223, 223, 223);
                border-radius: 10px;
                th,
                td {
                    padding-left: 10px;
                    padding-right: 10px;
                }
                th {
                    font-weight: normal;
                }
                td {
                    font-weight: bold;
                }
            }
        }
    }
}